* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    font-family: 'balsamiq sans';
}
h1 {
    text-align: center;
    font-size: 250%;
    margin-top: 10px;
}
.navbar-default .navbar-brand {
    font-size: 250%;
    color: rgb(0, 0, 0);
    margin-top: 10px;

}
h3 {
    color: black;
    text-align: center;
    padding: 15px;
}
section {
    padding: 2%;
    
}
section div { 
    background-color: rgb(131, 143, 138);
    border: 2px solid black;
    padding: 5%;
}

header {
    height: auto;
}
a#top {
 color: rgb(11, 67, 139);
}
.navbar {
 background-color: rgb(131, 143, 138);
 
}
.navbar-default .navbar-toggle {
     border-color: rgba(53, 46, 46, 0.829); 
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 5px;
}
.navbar-toggle .icon-bar {
    width: 32px;
    height: 4px;
    
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(53, 46, 46, 0.829); 
}

#header-nav {
    border-radius: 0px;
    height: 55px;
}

h2.navbar-header {
    width: fit-content;
    float: left;
    }
button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}
li {
    text-align: center;
    margin: 0px;
    padding: 5px;
    color: black;
    font-size: 20px;
}
li:active {
    background-color: rgba(216, 212, 206, 0.452);
}
a:hover {
    background-color: rgba(216, 212, 206, 0.452);
}
.navbar-default .navbar-nav>li>a {
    color: rgb(7, 7, 7);
}
button, input, select, textarea {
    line-height: 1.5;
}
 
@media (max-width: 768px) {
    h2.navbar-header{
        padding-left: 20px;}
}
    
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        visibility: hidden;
        display: none;
      }
      .navbar {
          height: 55px;
      }
      
        } 
@media (min-width: 992px) {
    .navbar-collapse.collapse {
        visibility: hidden;
        display: none;
        overflow: hidden;
      }
      .navbar {
        height: 55px;
    }
} 
